@model HighlighterLib.Templating.Models.SingleFileModel
<!DOCTYPE html>
<html>
<head>
    <title>Upload - CS Hightligter</title>
    @foreach (var css in Model.Stylesheets)
    {
        <style type="text/css">
            @Raw(css)
        </style>
    }
    @foreach (var item in Model.StylesheetUris)
    {
        <link type="text/css" href="@item.AbsoluteUri" rel="stylesheet" />
    }
</head>
<body>
    <div>
        <div id="formattedCode" class="formattedCode">@Raw(Model.PreformattedHtml)</div>
    </div>

    @foreach (var src in Model.JavascriptUris)
    {
        <script type="text/javascript" src="@src.AbsoluteUri"></script>
    }
    @foreach (var script in Model.Javascript)
    {
        <script type="text/javascript">
            @Raw(script)
        </script>
    }
</body>

</html>
