@{
    ViewBag.Title = "Home Page";
}
@model TestWebsite.Models.CodeModel

<style type="text/css">
    .formattedCode {
        font-family: "Consolas", "Courier New", "Andale Mono", "Lucida Console", monospace;
        font-size: 12pt;
        line-height: 125%;
        white-space: pre;
    }

    .highlighted {
        background-color: aqua;
    }

    .comment {
        color: green;
    }

    .keyword {
        color: blue;
    }

    .stringLiteral {
        color: darkred;
    }

    .numericLiteral {
        color: magenta;
    }

    .identifier {
        color: #2B91AF;
    }

    .region {
        color: lightgray;
    }

    .localDecl {
        color: black;
    }

    .localRef {
        color: black;
    }

    .fieldDecl {
        color: black;
    }

    .fieldRef {
        color: black;
    }

    .paramDecl {
        color: black;
    }

    .paramRef {
        color: black;
    }

    .propDecl {
        color: black;
    }

    .propRef {
        color: black;
    }
    
    .methodRef {
        color: black;
    }
    
    .methodDecl {
        color: black;
    }
</style>
@if(Model != null)
{ 
<style type="text/css">
    @Html.Raw(Model.HoverCssClasses)
</style>

<div id="formattedCode" class="formattedCode">@Html.Raw(Model.CodeElements)</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
$("#formattedCode").find("*").each(function () {
    this.onmouseover = function () {
        var hoverId = $(this).attr("data-hover");
        if(hoverId) {
            $("." + hoverId).addClass("highlighted");
        }
    };
    this.onmouseout = function () {
        var hoverId = $(this).attr("data-hover");
        if (hoverId) {
            $("." + hoverId).removeClass("highlighted");
        }
    };
});
</script>
}
else
{
    <style type="text/css">
        ul > li {
            display: block;
            padding-bottom: 10px;
        }
        #codeInput {
            width: 600px;
            height: 700px;
        }
    </style>
    if(Model != null && Model.ExceptionMessage != null)
    {
        <div>@Model.ExceptionMessage</div>
    }
    using(Html.BeginForm())
    {
        <ul>
            <li>@Html.Label("code", "Type code here:")</li>
            <li>@Html.TextArea("code", new { id = "codeInput" })</li>
            <li><input type="submit" value="Submit" /></li>
        </ul>
    }
}