<!DOCTYPE html>
@model HighlighterLib.Templating.SolutionFolder
@using System.IO
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Directory</title>
</head>
<body>
    <style type="text/css">
        .nested {
            padding-left: 15px;
        }
    </style>
    <div>
        <div class="solutionRoot">@Model.FolderName</div> @*The root*@
        <div class="nested">
            @foreach (var folder in Model.SubFolders)
            {
                @Something(folder);
            }
            @foreach (var file in Model.SolutionFiles)
            {
                <div class="solutionFile">
                    <a href="@(file.RelativePath + ".html")">@file.FileName</a>
                </div>
            }
        </div>
    </div>
</body>
</html>

@helper Something(HighlighterLib.Templating.SolutionFolder folder)
{
    var folderClass = folder.IsProject ? "project" : "folder";
    <div class="@folderClass">@folder.FolderName</div>
    <div class="nested">
        @foreach (var subFolder in folder.SubFolders)
        {
            @Something(subFolder);
        }
        @foreach (var file in folder.SolutionFiles)
        {
            <div class="solutionFile">
                <a href="@(file.RelativePath + ".html")">@file.FileName</a>
            </div>
        }
    </div>
}
